*, ::after, ::before {
    box-sizing: border-box;
}
header{
	background-color: black;
	padding-bottom: 1em;
	padding-top: 1em;
}
.navbar-nav{
	list-style:none;
	padding-left: 1em;
}
.navbar-nav ,.nav-item{
	display: inline-block;
}
.search-area{
	float: right;

}
#searchbox{
	height: 2.5em;
	border-radius: 5px;
}
#search-btn{
	height: 2.5em;
	border:0.1em solid green;
	color: green;
	background-color: black;
	border-radius: 0.3em;
}
.nav{
	text-decoration: none;
	font-family: "Roboto",sans-serif;
	padding-left: 1.5em;
	background: -webkit-linear-gradient(left,lightgrey, #333);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.nav-link{
	padding-left: 0.8em;
}
.navbar-brand{
	font-size: 1.2em;
	color: white;
}
.wrapper{
	background-color:	#686868;
	width: 100%;
	position: relative;	
}
.wrapper h1{
	color: white;
	text-align: center;
	font-family: "Roboto",sans-serif;
	font-size: 2em;
	font-weight: 300px;
	
}
 p{
	color: white;
	font-size: 1.2em;
	font-weight: 150px;
	text-align: center;
	line-height: 1.6;
	margin-right: 8em;
	margin-left: 8em;
	font-family: "Roboto",sans-serif;
}
.wrapper .content{
	padding-top: 10em;
	margin-left: 5em;
	margin-right: 5em;
	padding-bottom: 5em;
}
.btn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    height: 2.5em;
    width: 6.5em;
    border-radius: 0.3em;
    padding-top: 0.5em;
    font-family: "Roboto",sans-serif;
}
span .next-icon{
	background-image: url(trans-nexticon.jpg);
	display: inline-block;
    width: 20px;
    height: 20px;
   background: transparent no-repeat center center;
    background-size: 100% 100%;

}
ol{
	list-style-type: decimal;
	align-content: center;
	text-align: center;
}
.indicators{
	position:absolute;
	right:0;
	bottom: 1em;
	left: 0;
	z-index: 15;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:center;
	padding-left: 0;
	margin-right: 46%;
	margin-left: 46%;
	list-style: none;
}
.indicators li{
	position: relative;
	-webkit-box-flex:0;
	-ms-flex:0 1 auto;
	flex: 0 1 auto;
	width:30px;
	height: 3px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	background-color: rgba(255,255,255,.5);
}
.indicators .active{
	background-color: white;
}
li{
	display: list-item;
	display: inline-block;

}
i{
	border:solid lightgrey;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}
.prev-icon{
	transform: rotate(135deg);
	float: left;
}
.next-icon{
	transform: rotate(-45deg);
	float: right;
}
.midpart-content{
	background-color: white;
	width: 100%;
	position: relative;
}
/*div{
	display: block;
}*/
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	

}
.grid-item{
	margin-top: 1em;
	font-family: "Roboto",sans-serif;
	border: 2px solid black;
	padding-left: -10px;
	padding-right: -10px;
	padding-bottom: 1em;
}
.grid-item p{
	position: relative;
	color: black;
	font-size: 1em;
	width: 10em;
	display: flex;

}
 .grid-item h3{
	font-size: 2em;
}

i.circle{
	background: #686868;
    border-radius: 50%;
    border-style: none;
    width: 6.5em;
    height: 6.5em;
    margin-top: 2em;
}
.btn.read-more{
	background-color: #686868;
	border-radius: 0.3em;
	text-decoration: none;
	color: white;
	height: 2em;
    width: 7.5em;
}
.read-more .inline-arrow{
	font-size: 10px;
}